*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
}

.container {
    width: 800px;
    height: 500px;
    background-color: #fff;
    transform: translateY(-100px);
    display: flex;
    flex-direction: column;
}

#messages {
    flex-grow: 1;
    padding: 10px;
}

#form {
    height: 40px;
    width: 100%;
    background-color: red;
}

#inputMessage {
    font: inherit;
    width: 100%;
    height: 100%;
    border: 1px solid #a7a7a7;
    padding-left: 10px;
    outline: none;
}

.message-sender {
    background-color: #4189e1;
    color: white;
    max-width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.message-others {
    background-color: #43a943;
    color: white;
    max-width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}